<!DOCTYPE html>
<html>
<body>
    <nav>
    <a href="/">Inicio</a>
    <a href="/productos">Productos</a>
</nav>
<h1> Catalogo de productos</h1>
<p>Productos disponibles:</p>
<div class="contenedor-productos">

    <div class="producto">
        <h2>Laptop Lenovo</h2>
        <p>Precio: $650</p>
        <button>Agregar al carrito</button>
    </div>

    <div class="producto">
        <h2>Mouse inalambrico</h2>
        <p>Precio: $25</p>
        <button>Agregar al carrito</button>
    </div>

    <div class="producto">
         <h2>Audifonos Bluetooth</h2>
         <p>Precio: $45</p>
         <button>Agregar al carrito</button>
    </div>

</div>
</body>
<link rel = "stylesheet" href="/static/style.css">
